.gif-card {
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 40vh;
    /* max-width: 400px; */
    margin: 1em;
    text-align: center;
    box-shadow: 3px 3px 25px black;
    font-family: 'EB Garamond', serif;
    margin-top: 10vh;
    text-transform: uppercase;
}
.gif-card:hover {
    box-shadow: 3px 3px 10px black;
}
.gif-image {
    height: 30vh;
    width: 100;
    background-color: gray;
}
mat-card-header {
    height: 10vh;
}
mat-card-actions {
    height: 5vh;
}
.material-icons {
    color: #fff;
}
.mat-mini-fab:hover {
    box-shadow: 3px 3px 10px black;
    transform: scale(1.1);
}