.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 100vh;
}


@media(max-width: 575px) {
    .content {
        min-height: 85vh;
    }
}
@media(min-width: 576px) {
    .content {
        min-height: 75vh;
    }
}